<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}Welcome to URLShortener{% endblock %}</title>
 {% load staticfiles %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript">
 $(function() {
 $('#submitButton').click(function() {
 $.ajax({
 type: "POST",
 url: "/makeshort/",
 data: {
 'url' : $('#url').val(),
 'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
 },
 success: returnSuccess,
 dataType: 'json'
 });
 });
});
  
function returnSuccess(data) {
 if(data.url) {
 $('#url-result').html("Your Shorted URL is : <a href='"+data.url+"'>"+data.url+"</a>");
 $('#url').val("");
 }
 else if(data.inval)
 {
 	$('#url').val("");
 	alert("Invalid URL!");
 }
 else {
 alert("Empty Field");
 }

 $("#clipboard").click(function(){
 	copyToClipboard("#url-result a");
     });

 function copyToClipboard(element) {
    var $temp = $("<input>")
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}
   
}
</script>
<body>
<div id="wrap">
<header>
 <h1 style="margin-left:10px"><a href="#">URL Shortener</a><small style="margin-left:15px">Shorten the URL</small></h1>
</header>
  
<div id="content2">
{% block content %}
  
{% endblock %}
</div>
</div>
</body>
</html>